.authorProfile {
    margin-top: 50px;
}
.authorProfileContent{
    display: grid;
    grid-template-columns: 40% 60%;
}
.authorProfileContent .leftSection{
   margin-left: 70px;
   margin-top: 10px;
  
   background-size: cover;
   width: 200px;
   height: 230px;
  
}
.authorProfileContent .leftSection img{
    width: 242px;
    height: 285px;
    margin-top: 20px;
    position: relative;
    left: 28px;
   
    border: 2px solid var(--goldColor);
}
.rightSection h2{
    color: white;
    
   text-align: start;
   margin-left: 20px;
   margin-top: 50px;
   
}
.authorProfileContent .rightSection p{
    color: white;
    
    margin-top: 10px;
    padding: 20px;
   
   
}

.authorProfile .rightSection{
    margin-left: -70px;
}
.authorProfileContent .rightSection .total{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  
}
.authorProfileContent .rightSection .total div{
    width: 140px;
    height: 140px;
    background-color: var(--whiteningMainColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: -20px 20px;
    box-shadow: 0px 0px 5px 3px yellow;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.authorProfileContent .rightSection .total div h3{
    color: white;
}

.authorSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 130px 0px;
    
}
.authorSection h3{
    color: var(--grayColor);
    text-align: center;
    font-size: 13px;
}
.authorSection div{
    margin: 10px 10px;
    width: 200px;
    height: 230px;
    
    background-color: var(--whiteningMainColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.authorSection img{
   
    width: 150px;
    height: 150px;
    margin-left: 5px;
    margin-top: 10px;
    border-width: 5px; 
    border-top-width: 10px;
    border-style: solid; 
    border-image: linear-gradient(to bottom,yellow ,var(--goldColor), var(--whiteningMainColor) )3;
}
.authorSection .coin{
    width: 30px;
    height: 30px;
    border: none;
}