.bookProfile {
    margin-top: 10px;
}
.bookProfile .bookHeader
{
    background-color: var(--whiteningMainColor);
    border: 2px solid var(--goldColor);
    color: var(--grayColor);
    padding: 20px 0px;
}
.bookProfileContent{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 50px;
}
.bookProfileContent .bookLeftSection{
   width: 350px;
   border: 1px solid var(--goldColor);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 30px;
   background-color: var(--whiteningMainColor);
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
.bookProfileContent .bookLeftSection img{
    width: 50%;
    height: 50%;

}
.bookProfileContent .bookLeftSection div{
    border: 1px solid var(--goldColor);
}
.bookProfile .bookLeftSection div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--grayColor);
    width: 250px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bookLeftSection .preview img,
.bookLeftSection .download img{
    height: 50px;
    width: 40px;
}
.bookLeftSection .share{
   padding: 8px 0px;
   margin: 10px;
   
}
.bookLeftSection .share div{
     border: none;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     
     


}
.bookLeftSection .share div img{
    margin-bottom: -15px;
}
.bookRightSection h1{
    color: var(--grayColor);
    font-size: 50px;
}
.bookRightSection h3{
    color: var(--grayColor);
    
   text-align: start;
   
   margin-top: -20px;
   
}
.bookRightSection .bookOverview{
    display: flex;
    flex-direction: row;
}
.bookRightSection .bookOverview .starRate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bookRightSection .bookOverview .starRate img{
    width: 20px;
    height: 20px;
}

.bookProfileContent .bookRightSection p{
    color: white;
    
    margin-top: 20px;
    padding: 2px 40px ;
}
.bookRightSection .bookOverview .starRate p{
    margin-left: -35px;
}
.bookRightSection h4{
  color: white;  
}
.bookGeneralInformation {
   display: flex;
   flex-direction: row;
   
}
.bookGeneralInformation div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--goldColor);
    margin: 10px;
    width: fit-content;
    height: 70px;
    padding: 5px 20px;
}
.bookGeneralInformation div h3{
    margin-bottom: -10px;
}
.bookGeneralInformation div p{
    margin-bottom: -10px;
}

.bookProfile .bookRightSection{
    margin-left: -80px;
}
.bookDetails{
    background-color: var(--whiteningMainColor);
    width: 80%;
    margin-left: 9.5%;
    /* border: var(--goldColor) 1px solid; */
    margin-top: 90px;
    color: var(--grayColor);
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    
}
.bookDetailsContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bookDetails h2{
    margin-top: -1px;
    text-align: start;
}
.bookDetails h3{
  color: white;
} 
.bookSection{
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    
}
.bookSection h2{
   color: white;
   margin-top: 30px;
   margin-left: -67%;
   

  
}
.bookSection h3{
    color: var(--grayColor);
    font-size: 13px;
    text-align: center;
}
.bookSectionContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    margin-left: 40px;
    
}
.bookSectionContent div{
    margin: -120px 15px;
    width: 250px;
    height: 270px;
    background-color: var(--whiteningMainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bookSectionContent img{
    
    width: 150px;
    height: 170px;
    
    margin-top: 30px;
    border-width: 5px; 
    border-top-width: 10px;
    border-style: solid; 
    border-image: linear-gradient(to bottom,yellow ,var(--goldColor), var(--whiteningMainColor) )3;
}
.bookSectionContent .coin{
    width: 30px;
    height: 30px;
    border-color: transparent;
    border: none;
}


